.stamp {
    height: calc(100vh - 150px);
    background-color: #EEEEEE;
}

.stamp-ttl {
    padding: 60px 0 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.stamp-button-list {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.stamp-button-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.stamp-button {
    width: 400px;
    height: 140px;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.stamp-text {
    width: 400px;
    height: 140px;
    line-height: 140px;
    background-color: white;
}
